.RedSquare {
    margin: 200px;
    width: 200px;
    height: 200px;
    background-color: #f00;

    border-radius: 50%;
    box-shadow: 0 0 10px #f00, 0 0 50px 20px ;

    transition: all 10s cubic-bezier(0.25, );
}

.RedSquare:hover {
    
}

